@import "../../app.wxss";

.add_form {
  width: 100vw;
  background-color: #fff;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-icon-test3 {
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      color: #000;
    }
    .picker {
      width: 670rpx;
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        width: 130rpx;
        margin-right: 30rpx;
      }
      .con {
        display: flex;
        align-items: center;
        .placeholder {
          margin-right: 10rpx;
          color: #ccc;
        }
      }
    }
    .select {
      border-bottom: 1rpx solid #f2f2f2;
      height: 100rpx;
    }
    .value {
      border-bottom: 1rpx solid #f2f2f2;
      width: 670rpx;
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .size {
      border-bottom: 1rpx solid #f2f2f2;
      width: 670rpx;
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .con {
        display: flex;
        align-items: center;
      }
    }
    .input {
      border-bottom: 1rpx solid #f2f2f2;
      width: 670rpx;
      height: 100rpx;
      display: flex;
      align-items: center;
      .name {
        width: 200rpx;
      }
      input {
        flex: 1;
        height: 100rpx;
      }
    }
  }
}
